@import url('https://fonts.googleapis.com/css2?family=Modak&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes swooshDown {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%); 
    }
    60% {
        opacity: 1;
        transform: translate(-50%, 40%); 
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 30%); 
    }
}

@keyframes swooshDownSimple {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background-color: #BDE8F5;
    padding: 0.5rem;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden; 
}

main {
    position: relative;
    height: 100%; 
    width: 100%;

    & .glass-pane {
        position: absolute;
        inset: 0;
        border-radius: 12px;
        opacity: 0.3;
        background: transparent;
        box-shadow: 
            inset 0 -0.3em 2px 1px oklch(0.99 0.01 257),
            inset 0 -0.3em 0.25em oklch(0.99 0.01 257),
            inset 0 -0.3em 0.5em oklch(0.99 0.01 257),
            inset 0 -0.3em 0.75em oklch(0.99 0.01 257),
            inset 0 -0.3em 1em oklch(0.99 0.01 257);
        mix-blend-mode: lighten;
    }

    & .name {
        position: absolute;
        top: 0; 
        left: 50%;
        color: #FF537B;
        font-family: "Modak", system-ui;
        font-size: 5.5rem;
        z-index: 10;
        
        animation: swooshDown 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;

        & span {
            display: block;
            line-height: 1;
        }
    }

    & .bottom {
        position: absolute;
        bottom: 0;
        left: 0;

        min-height: 50%;
        
        width: 100%;
        padding-bottom: 2rem;

        & .notification-list {
            position: relative;
            max-width: 20em;
            margin: 0 auto;
            
            & .notification {
                display: flex;
                align-items: center;
                padding: 10px;
                background-color: rgba(255, 255, 255, 0.18);
                border-radius: 27px;
                border: 1px solid white;
                margin-bottom: 10px;

                animation: swooshDownSimple 0.6s ease-out forwards;
                opacity: 0; 

                &:nth-child(1) { animation-delay: 0.3s; }
                &:nth-child(2) { animation-delay: 0.5s; }
                &:nth-child(3) { animation-delay: 0.7s; }

                & .icon {
                    margin-right: 20px;
                    font-size: large;
                    background-color: white;
                    border-radius: 50%;
                    padding: 5px;
                    flex-shrink: 0;
                }
                & .inner-content { color: white; }
                & .title { font-weight: bold; }
                & p { line-height: 1.2; }
            }
        }

        & .socials {
            display: flex;
            position: absolute;
            bottom: 0;
            
            justify-content: space-between;
            padding: 0 1.5rem;
            width: 100%;
            
            margin-bottom: 1em;
            animation: swooshDownSimple 0.8s ease-out 1s backwards;

            & > * {
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 50%;
                border: 1px solid white;
                padding: 8px;
            }
        }
    }
}
